footer {
    border-top: 1px solid $stroke;
    margin-top: auto;
}

.footer-row {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
    padding: 100px 12px;
    justify-content: center;
}

.footer-menu {
    padding: 0 12px;
    
    li {
        list-style-type: none;
        padding: 10px 0;
    }

    ul {
        padding: 30px 0;
    }
}

.footer-logo .social-nav {
    display: flex;
    gap: 30px;
    margin: 40px  0;
    
}

.link-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #F7FFEE;
    display: flex;
    align-items: center;
    text-decoration: none;
    white-space: nowrap;

    &:hover {
        background-color: transparent;
        color: $accent;
        text-decoration: none;
    }
}

.link-list {
    align-items: center;
    text-decoration: none;
}

.footer-logo__link {
    max-width: 206px;
    display: block;
}

.footer-row,
.footer-info {
    display: flex;
}

.footer-info {
    justify-content: space-between;
    width: 100%;

    h5 {
        font-size: 24px;
        color: $stroke;
    }
}

.footer-logo {
    padding: 0 24px 0 0;
    width: 100%;
    max-width: 368px;

    &__link {
        max-width: 206px;
        display: block;
    }
}

.footer-copyright {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    padding: 36px 15px;
    position: relative;
    font-weight: 500;
    font-size: 16px;

    a {
        margin-right: 40px;
        color: $stroke;
    }

    nav {
        margin-left: auto;
    }
    span {
        font-size: 16px;
        line-height: 20px;
    }

    &::before {
        content: "";
        border-top: 1px solid $light-black;
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
    }
}

.icon-inst {
    border: none;
    background: url("assets/img/icon-inst.svg") center/contain no-repeat;
}

.icon-youtube {
    border: none;
    background: url("assets/img/icon-youtube.svg") center/contain no-repeat;
}

.icon-telegram {
    border: none;
    background: url("assets/img/icon-telegram.svg") center/contain no-repeat;
}

.icon-mail {
    border: none;
    background: url("assets/img/icon-mail.svg") center/contain no-repeat;
}

.icon-phone {
    border: none;
    background: url("assets/img/icon-phone.svg") center/contain no-repeat;
}

.icon-check {
    border: none;
    background: url("assets/img/icon-check.svg") center/contain no-repeat;
}

.icon-arrow {
    background: url("assets/img/icon-arrow.svg") center/contain no-repeat;
}