<div class="container">
    <div class="status status-non-verification">
        неверифікований
    </div>
    <div class="status status-looks-at">
        розглядається
    </div>
    <div class="status status-verifications">
        верифікований
    </div>
    <div class="status status-verification-failed">
        верифікацію не пройдено
    </div>
</div>
<section class="banner">
    <div class="container">
        <div class="banner-row">
            <div class="banner-col">
                <div class="banner-text">
                    <h1 class="banner-title">обмін криптовалют разом з onebit</h1>
                    <h5 class="banner-subtitle">Проводячи угоду з onebit, ви отримуєте найвигідніші умови обіну криптовалют</h5>
                </div>
                <div class="banner-advantages">
                    <div class="banner-advantages-item">
                        <i class="icon">
                            <a class="link-item" href="#">
                                <button class="btn btn-profile icon-check"></button>
                            </a>
                        </i> фіксація курсу після фінального підтвердження blockchain
                    </div>
                    <div class="banner-advantages-item">
                        <i class="icon">
                            <a class="link-item" href="#">
                                <button class="btn btn-profile icon-check"></button>
                            </a>
                        </i> цілодобова робота. видача готівки з 9:00 до 19:00
                    </div>
                    <div class="banner-advantages-item">
                        <i class="icon">
                            <a class="link-item" href="#">
                                <button class="btn btn-profile icon-check"></button>
                            </a>
                        </i> гарантова безпека всіх операцій
                    </div>
                    <div class="banner-advantages-item">
                        <i class="icon">
                            <a class="link-item" href="#">
                                <button class="btn btn-profile icon-check"></button>
                            </a>
                        </i> мінімальна комісія $15
                    </div>
                </div>
                <a href="#" class="banner-link">топ крипто-фіатних пар <svg class="icon-arrow"></svg></a>
            </div>
            <div class="banner-col">
                @@include('form-exchange.html')
            </div>
        </div>
    </div>
</section>