<footer>
    <div class="footer-row">
        <div class="footer-logo">
            <a href="index.html" class="footer-logo__link">
                <img src="assets/img/logo-2.svg" alt="logo">
            </a>
            <nav class="social-nav">
                <a class="link-item" href="#">
                    <button class="btn btn-profile icon-inst"></button>
                </a>
                <a class="link-item" href="#">
                    <button class="btn btn-profile icon-youtube"></button>
                </a>
                <a class="link-item" href="#">
                    <button class="btn btn-profile icon-telegram"></button>
                </a>
            </nav>
        </div>
        <div class="footer-info">
            <div class="text-widget">
                <nav class="footer-menu">
                    <h5>послуги</h5>
                    <ul class="link-list">
                        <li><a class="link-item" href="confidentiality.html">перекази по Україні</a></li>
                        <li><a class="link-item" href="#">міжнародні перекази</a></li>
                        <li><a class="link-item" href="#">swift перекази</a></li>
                        <li><a class="link-item" href="#">криптоперекази</a></li>
                        <li><a class="link-item" href="#">перекази юаня у Китай</a></li>
                    </ul>
                </nav>
            </div>
            <div class="text-widget">
                <nav class="footer-menu">
                    <h5>клієнтам</h5>
                    <ul class="link-list">
                        <li><a class="link-item" href="#">як це працює</a></li>
                        <li><a class="link-item" href="#">крипто-фіатні пари</a></li>
                        <li><a class="link-item" href="#">де нас знайти</a></li>
                        <li><a class="link-item" href="reviews.html">відгуки</a></li>
                        <li><a class="link-item" href="#">часті питання</a></li>
                        <li><a class="link-item" href="#">блог</a></li>
                    </ul>
                </nav>
            </div>
            <nav class="footer-menu">
                <h5>контакти</h5>
                <ul class="contacts-list">
                    <li>
                        <a class="link-item" href="#">
                            <button class="btn btn-profile icon-mail" style="margin-right: 20px;"></button>
                            info@crypto-money24.com
                        </a>
                    </li>
                    <li>
                        <a class="link-item" href="#">
                            <button class="btn btn-profile icon-phone" style="margin-right: 20px;"></button>
                            +38 (098) 358-00-01
                        </a>
                    </li>
                    <li>
                        <a class="link-item" href="#">
                            <button class="btn btn-profile icon-phone" style="margin-right: 20px;"></button> 
                            +38 (050) 974-00-01
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="footer-copyright">
        ⓒ 2022. Всі права захищені
        <nav>
            <a href="confidentiality.html">політика конфіденційності</a>
            <a href="condition.html">умови та положення</a>
        </nav>
    </div>
</footer>
<svg>
    <symbol id="arrow-back" viewBox="0 0 18 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.89098 15.3022L0.270597 7.68182L7.89098 0.0614339L9.36115 1.51527L4.25639 6.62003H17.0795V8.74361H4.25639L9.36115 13.8402L7.89098 15.3022Z"/>
    </symbol>
    <symbol id="arrow-bottom" viewBox="0 0 14 13" stroke="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 3L7 9L13 3" stroke-width="2"/>
    </symbol>    
</svg>
<a href="markap.html"
style="background-color: #B1FF5C;
       border-radius: 50%;
       color: #10100E;
       font-weight: 600;
       text-decoration: none;
       padding: 6px 12px;
       position: fixed;
       left: 12px;
       bottom: 12px;">
UI-kit</a>
<script src="assets/js/jquery-3.7.1.min.js"></script>
<script src="assets/js/jquery.mask.min.js"></script>
<script src="assets/js/hideShowPassword.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/nice-select2.js"></script>
<script src="assets/js/select-icon.js"></script>
<script src="assets/js/custom.js"></script>