<section class="questions">
    <div class="container">
        <div class="template-title">
            <h2>залишились питання?</h2>
            <h5>Залишились питання або хочете дізнатися більше, виберіть зручний спосіб для зв'язку</h5>
        </div>
        <nav class="social-nav">
            <a class="link-item" href="#">
                <button class="btn btn-profile icon-inst"></button>
            </a>
            <a class="link-item" href="#">
                <button class="btn btn-profile icon-youtube"></button>
            </a>
            <a class="link-item" href="#">
                <button class="btn btn-profile icon-telegram"></button>
            </a>
        </nav>
    </div>
</section>